body {
  font-family: "Joan", serif;
  font-size: 20px;
  font-weight: 300;
}
/* Start Header */
.header {
  display: inline-flex;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 100%;
  margin-bottom: 50px;
}

.header__nav-link__item {
  display: inline;
  padding: 200px;
}
.header__logo-link {
  width: 100px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.header__nav {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 100px;
  font-size: 25px;
}

.header__nav-link__item-link {
  color: black;
  text-decoration: none;
}
/* end header */
/* start main  */
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
.text {
  text-indent: 50px;
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 50px;
}
.section__img {
  text-align: center;
  margin-bottom: 50px;
}

.section_img-item {
  width: 100vh;
  border-radius: 100%;
}
/* end main */
/* start footer */
.footer {
  display: inline-flex;
  justify-content: space-between;
  background-color: rgb(192, 186, 179);
  width: 100%;
}

.footer__nav-link__item {
  display: inline;
  margin: 200px;
}
.footer__logo-link {
  width: 100px;
  margin-top: 20px;
  margin-left: 50px;
}
.footer__nav {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 100px;
  font-size: 25px;
}

.footer__nav-link__item-link {
  color: black;
  text-decoration: none;
}
